[submodule "agent/theHarvester"]
	path = agent/theHarvester
	url = https://github.com/laramies/theHarvester
[submodule "agent/sherlock"]
	path = agent/sherlock
	url = https://github.com/sherlock-project/sherlock
